.nodePath,
.nodeSource,
.nodeSink,
.nodeWall,
.nodeShortestPath {
	display: flex;
	border: 1px solid black;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.nodeShortestPath {
	background-color: yellow;
}

.nodePath {
	background-color: grey;
}

.nodeSource {
	background-color: green;
}

.nodeSink {
	background-color: red;
}

.nodeWall {
	background-color: blue;
}
